@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


/* DarkVeil背景用 */
.darkveil-canvas {
  position: absolute;
  inset: 0;
}

/* TextTypeスタイル */
.text-type {
  display: inline;
}

